@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* --- Variables --- */
:root {
    /* colors */
    --principal: #1f1f1f;
    --secondary: #303030;
    --textprimary: #ffffff;
    --textsecondary: #e6e6e6;

    /* font */
    --multfont: 0px;
}

/* --- root --- */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* --- BODY --- */
body {
    background: var(--principal);
    color: var(--textprimary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}

h1 {
    font-weight: 300;
    font-size: calc(45px + var(--multfont));
}

h4 {
    font-size: calc(18px + var(--multfont));
    font-weight: 400;
}

span, p {
    font-size: calc(18px + var(--multfont));
    font-weight: 300;
}

/* --- HEADER --- */
#header { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary);
    padding: 10px 200px;
}

#header > h2 {
    font-size: 35px;
    font-weight: 900;
    border: solid 3px var(--textprimary);
    padding: 3px;
}

.menu {
    display: flex;
    box-sizing:inherit;
}

.menu > li {
    font-weight: 500;
    cursor: pointer;
    list-style: none;   
    padding: 5px;
    border-right: solid 2px var(--textprimary);
}

.menu > li:last-child {
    border: 0;
}

.menu > li:hover {
    background: var(--textprimary);
    color: var(--secondary);
    transition: 0.5s;
}

#header li{
    font-size:  calc(22px + var(--multfont));
}

/* --- MAIN --- */  
#main {
    padding: 50px 200px;
}

/* numero atendimentos */
#numAtendimentos {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

/* lista de atendimento */
#lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lista .atendimento {
    width: 45%;
}

.secUnSol {
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.atendimento {
    background: var(--secondary);
    padding: 15px;
    margin: 25px 0;
    border-radius: 10px;
}

.atendimento > h4 > span {
    margin: 5px 0;
}

.atendimento > hr {
    border-top: solid 1px var(--textprimary);
    margin: 30px 40px;
}

.atendimento .menu > li {
    font-size: calc(18px + var(--multfont));
    font-weight: 400;
}

.atendimento span:hover {
    text-decoration: underline;
}

.atendimento h4, p, span, li {
    cursor:context-menu;
}